.dashboardWrapperBig {
  width: 286px;
  height: 390px;
  border: 1px solid #bbbbb9;
  border-radius: 16px;
  padding: 32px;
}
.lg-1 {
  grid-area: lg1;
}
.lg-2 {
  grid-area: lg2;
}
.lg-3 {
  grid-area: lg3;
}
