.behanceStaticFyApiAdobe {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.count {
    font-size: 40px;
}
.title {
    font-size: 18px;
}
.link {
    font-size: 18px;
    color: var(--main-color);
    text-decoration: none;
}