.header_title {
    font-size: 52px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    letter-spacing: 8px;
}
.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.header_block button {
    padding: 16px 32px;
    border-radius: 16px;
    border: none;
    color: white;
    font-size: 18px;
    background: #18B7D4;
    margin-right: 16px;
    cursor: pointer;
    letter-spacing: 2px;
}