.StackCardsTitle {
    color: white;
}
.StackCardsTitle span {
    color: #C51645;
}
.StackCardsItems {
    display: flex;
    flex-direction: column;
    color: white;
    width: 14rem;
    min-height: 12rem;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0.5rem;
    margin: 1rem 0;
    background: #282b30;
    box-shadow: inset 5px 5px 10px #1f2125,
    inset -5px -5px 10px #31353b;
    padding: 0 2rem;
    text-align: left;
}
.StackCardsItemsTitle {
    font-size: 22px;
    font-weight: 700;
    margin: 0.4rem 0;
}
.StackCardsItems img {
    width: 2.8rem;
}
.StackCardsItems div:first-child {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 6px;
}
.StackCardsItems div:last-child {
    color: #bfbfbf;
}
@media (max-width: 899px) {
    .blockMobile {
        padding: 0 !important;
    }
    .StackCardsItems {
        width: 100%;
        min-width: initial;
    }
}


