@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
#root {
  font-family: 'Fira Sans';
}
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin: 6rem auto;
  border-radius: 1rem;
}
